@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  font-family:  Helvetica, Arial, sans-serif;
  align-items: center;
  justify-content: start;
}


body,
html {
  scroll-behavior: smooth;
}



@layer base{
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1]  font-semibold
  }

  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1]  font-semibold
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1]  font-semibold
  }

  .customfont{
    @apply text-[10px] xl:text-[15px] leading-[1.1]  font-semibold
  }
  
  .customfontforsmallheadding{
    @apply text-[12px] xl:text-[13px] leading-[1.1]  font-semibold
  }

}
